<%- include("../partials/header") %>

<h1>Team Picker</h1>
  <div>
    <p>home</p>
    <br>

    <p>Cohorts</p>
    <br>

    <p>New Cohorts</p>
    <br>
  </div>




  <form action="/Logo URL" method="post">
    <div>
      <label for="Logo Url"></label> <br>
      <textarea cols="60" rows="4" type="text" name="title" value=""></textarea>
    </div>

    <button type="submit" name="button">Show Cohort</button>
  </form>

  <form action="/Logo URL" method="post">
    <div>
      <label for="Logo Url"></label> <br>
      <textarea cols="60" rows="4" type="text" name="title" value=""></textarea>
    </div>

    <button type="submit" name="button">Show Cohort</button>
  </form>

<%- include("../partials/footer") %>