<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Name Picker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link href="/stylesheets/style.css" rel="stylesheet">
        <style media="screen">
        </style>
    </head>
    <body style="width: 600px; margin: 0 auto; padding: 25px;">
    <nav class="card-body" style="width: 100%; padding: 0px;">
        <span class="navbar-brand" style="float: left; color: blue;">Super Team Picker</span>
        <span style="float: right;">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/cohorts">Cohort</a>
        <a class="navbar-brand" style="margin-right: 0px;" href="/cohorts/new">New Cohort</a>
        </span>
    </nav>
    <br clear="all">
    <div id="main" style="margin:15px 0px;">
