<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quiz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

        <link href="css/style.css" rel="stylesheet">

        <style media="screen">
         
        </style>

        
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-4">
        <a class="navbar-brand" href="/">Welcome</a>
        <a class="navbar-brand" href="/quiz">Awesome Quiz</a>
        <a class="navbar-brand" href="/quiz/results">Quiz Results</a>
    </nav>
    <div id="main" style="margin:15px;">

    🐔